body
{
    background-color:#fff;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6
{
    color:#777;
    font-family:sans-serif;
    
}

h1
{
    font-size: 3em;
}
h2
{
    font-size: 2.7em;
}
h3
{
    font-size: 2.4em;
}
h4
{
    font-size: 2em;
}
h5
{
    font-size: 1.75em;
}
h6
{
    font-size: 1.5em;
}

p
{
    font-family:sans-serif;
}